html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  padding: 10% 20%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 40px;
  color: #777777;
}

/* ABOUT */

.about {

}

.about img {
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about h1 {
  line-height: 125px;
  font-size: 5rem;
  padding: 25px 0;
  font-family: 'Inter', sans-serif;
}

.socials {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.social {
  padding: 25px;
  background-color: #f3f3f3;
  transition: background-color .2s ease-in-out;
  margin: 5px;            
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.social:hover {
  background-color: #f0f0f0;
}

/* UTILITY CLASSES */

.font-style {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}

.remove-list-style {
  list-style: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark {
  color: #444444;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 1050px) {
  body {
    padding: 5% 5%;
  }
}

@media only screen and (max-width: 425px) {
  .about h1 {
    font-size: 4rem;
    line-height: 100px;
  }
}