html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  padding: 10% 20%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 40px;
}

/* ABOUT */

.about {

}

.about img {
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about h1 {
  line-height: 125px;
  font-size: 5rem;
  padding: 25px 0;
  font-family: 'Inter', sans-serif;
}

/* UTILITY CLASSES */

.font-style {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
}

.remove-list-style {
  list-style: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 1050px) {
  body {
    padding: 5% 5%;
  }
}